.navbarLight {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #ffffed;
  border-bottom: 0.25rem solid #eaeaea;
  color: #333;
  font-size: 1.3rem;
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    list-style: none;
  }
  
  li {
    margin-left: 1rem;
  }

  a {
    text-decoration: none;
    
    &:hover {
      text-shadow: 5px 5px 10px #333;
      transition: all 0.3s ease-in;
    }
    
    &:visited {
      color: inherit;
    }
  }
  
  .icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.navbarDark {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  border-bottom: 0.25rem solid #111;
  color: #eaeaea;
  font-size: 1.3rem;
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    list-style: none;
  }
  
  li {
    margin-left: 1rem;
  }

  a {
    text-decoration: none;
    
    &:hover {
      text-shadow: 5px 5px 10px #deeaae;
      transition: all 0.3s ease-in;
    }
    
    &:visited {
      color: inherit;
    }
  }
  
  .icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}






